@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --corAzulPrincipal: #023E8A;
    --corAzulClaro: #CAF0F8;
    --corAzulTexto: #0C3340;
    --corCinzaEscuro: #4D4D4D;
    --corCianoAzul: #20c997;
}

