* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corAzulPrincipal: #023E8A;
    --corAzulClaro: #CAF0F8;
    --corAzulTexto: #0C3340;
    --corCinzaEscuro: #4D4D4D;
}

.botao-azul {
    background-color: var(--corAzulPrincipal);
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 8px 15px #bcc9df;
}

.botao-cinza {
    background-color: var(--corCinzaEscuro);
    color: #000000;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 8px 15px #bcc9df;
}