.container-header-menu {
    width: 100%;
    min-height: 10vh;
    background-color: var(--background-color-menu);
    display: flex;
    align-items: center;
}

.container-ul-header-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    list-style: none;
}

.ul-li-header-menu {
    height: 100%;
}

.ul-li-header-menu:nth-child(1) {
    height: 100%;
    width: 20%;
}

.ul-li-header-menu:nth-child(1) img {
    width: 70%;
    height: 90%;
}

.ul-li-header-menu:nth-child(2) {
    width: 30%;
}

.ul-li-header-menu:nth-child(3) {
    width: 40%;
}

.ul-li-header-menu .ul-item {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.ul-li-header-menu .ul-item li p {
	display: flex;
    flex-direction: column;
    cursor: pointer;
}

.ul-li-header-menu .ul-item li p:after {
    content:"";
    position: relative;
    border-radius: 20px;
    width: 20%;
    height: 3px;
    background-color: var(--text-color);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.ul-li-header-menu .ul-item li p:hover:after {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 3s;
    transition: all 3s;
}


.ul-li-header-menu .ul-item .li-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ul-li-header-menu .ul-item .li-item .user-icon-label {
    display: flex;
    align-items: ceter;
    justify-content: center;
}

.ul-li-header-menu .ul-item .li-item img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.li-item.li-item-account {
    position: relative;
}

.li-item.li-item-account ul {
    display: none;
}

.li-item.li-item-account input:checked ~ ul {
    z-index: 10;
    display: block;
    position: absolute;
    width: 163%;
    top: 7.5vh;
    background-color: var(--background-color-menu);

}

.li-item.li-item-account ul li {
    height: 100%;
    list-style: none;
    text-align: center;
    background-color: var(--background-color-menu);
    padding: 10px 5px;
    cursor: pointer;
}

.li-item.li-item-account ul li:hover {
    background-color: var(--background-color-menu-hover);
}
