.container-home {
    background-color: var(--background-color-home);
}

.container-home main {
    padding: 80px 0px 120px;
}

.container-home main .container-cards-cars-home {
    width: 100%;
    min-height: 700px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-rows: auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;

    justify-content: center;
    align-items: center;
}


@media(max-width: 1000px) {
    .container-home main .container-cards-cars-home {
        grid-template-columns: repeat(2, 300px);
    }
}

@media(max-width: 600px) {
    .container-home main  .container-cards-cars-home{
        grid-template-columns: repeat(1, 260px);
    }
}