h1 {
  text-align: center;
  padding: 7mm;
}

table {
  padding: 7mm;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e2d7f5;
  text-decoration-color: #dddddd;
}
footer {
  padding-top: 7mm;
}
.container-historico {
  min-height: 800px;
}
