.container-card-cars {
    background-color: var(--background-item-card);
    width: 250px;
    min-height: 400px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
}

.container-card-cars.premium {
    border: 2px solid var(--background-item-card-title-premium);
}

.container-card-cars.default {
    border: 2px solid var(--background-item-card-title-default);
}

.container-card-cars .title-car {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-card-cars .namecar {
    min-width: 40%;
    text-align: center;
    padding: 5px 2px;
    font-weight: 700;
}

.container-card-cars .namecar.premium {
    color: var(--background-item-card);
    background-color: var(--background-item-card-title-premium);
}

.container-card-cars .namecar.default {
    color: var(--background-item-card);
    background-color: var(--background-item-card-title-default);
}

.container-card-cars .image-car {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-card-cars .image-car img {
    min-width: 140%;
    min-height: 260px;
    height: 260px;
}

.container-card-cars .description-car p {
    text-align: center;
    color: var(--text-color);
}

.container-card-cars .footer-card-car {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.container-card-cars .footer-card-car button {
    height: 40px;
    width: 50%;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: all ease 1s;
}

.container-card-cars .footer-card-car button.premium:hover {
    background-color: var(--background-item-card-title-premium-hover);
    color: var(--text-color);
}

.container-card-cars .footer-card-car button.premium {
    background-color: var(--background-item-card-title-premium);
    color: var(--background-item-card);
}

.container-card-cars .footer-card-car button.default:hover {
    background-color: var(--background-item-card-title-default-hover);
    color: var(--text-color);
}

.container-card-cars .footer-card-car button.default{
    background-color: var(--background-item-card-title-default);
    color: var(--background-item-card);
}

.container-card-cars .footer-card-car button:first-child {
    border-bottom-left-radius: 18.8px;
}

.container-card-cars .footer-card-car button:last-child {
    border-bottom-right-radius: 18.8px;
}


@media(max-width: 600px) {
    .container-card-cars {
        background-color: var(--background-item-card);
        width: 270px;
        min-height: 400px;
        border-radius: 20px;
        position: relative;
        margin: 0 auto;
    }
}