.container-about-car {
    background-color: var(--background-color-home);
}

.container-about-car .image-car {
    width: 90%;
    height: 400px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
}

.container-about-car .image-car img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.container-about-car .image-car .title-car{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 60px;
    top: 0;
    border-radius: 10px;
    object-fit: cover;
}

.container-about-car .image-car .title-car div {
    background-color: var(--background-color-menu);
    height: 100%;
    text-align: center;
    padding: 0 50px;
    border-radius: 5px;
    color: var(--text-color);
}

.container-about-car .image-car .title-car label {
    background-color: var(--background-color-menu);
    border-radius: 9px;
}

.container-about-car .about-car-description {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.container-about-car .about-car-description h3 {
    font-size: 2rem;
    color: var(--text-color);
}

.container-about-car .about-car-description p {
    margin: 30px 0;
    color: var(--text-color);
    font-size: 1.1rem;
}

.container-about-car .about-car-datasheet {
    width: 75%;
    background-color: var(--background-item-card);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 5px;
}

.container-about-car .about-car-datasheet .datasheet-title {
    font-size: 0.8rem;
    margin-top: 15px;
}


.container-about-car .about-car-datasheet .about-datasheet {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-about-car .about-car-datasheet .about-datasheet p {
    text-align: left;
    padding: 4px;
}

.container-about-car .about-car-datasheet .about-datasheet p + p {
    text-align: right;
}

.container-about-car .about-car-datasheet .about-datasheet:last-child p{
    padding-bottom: 30px;
}

.container-about-car .about-btn-rent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 50px;
    margin: 60px auto;
}

.container-about-car .about-btn-rent button {
    width: 30%;
    min-width: 150px;
    height: 50px;
    cursor: pointer;
    border: 2px solid var(--background-login);
    border-radius: 7px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    position: relative;
    transition: all ease-in 1s;
}

.container-about-car .about-btn-rent button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background-color: rgba(250, 235, 215, 0.274);
    bottom: 0;
    left: 0;
    transition: all ease-in 400ms;
}

.container-about-car .about-btn-rent button:hover::after {
    height: 100%;
}